.paragraph--type--text-with-image {
    .image {
        position: relative;
        background-size: cover;
        height: 100%;

        .field--type-entity-reference {
            margin: 0;
        }

        img {
            width: 100%;
            height: auto;
        }

        .triangle {
            position: absolute;
            left: 50%;
            top: initial;
            transform: translateX(-50%);
            z-index: 10;

            @include media-breakpoint-up(lg) {
                left: initial;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;

        h2 {
            font-family: $font-family-temeraire;
            font-style: italic;
            font-size: 24px;
            color: $font-color-grey;

            &:after {
                content: '';
                display: block;
                width: 90px;
                height: 3px;
                background-color: darken($gray-100, 15%);
                margin: 26px 0;
            }

            @include media-breakpoint-up(lg) {
                font-size: 48px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 60px;
            }
        }

        p {
            color: $font-color-grey;
            font-size: 16px;

            @include media-breakpoint-up(lg) {
                font-size: 24px;
            }
        }
    }

    &.orientation {
        &--image-left {
            .triangle {
                bottom: 0;

                @include media-breakpoint-up(lg) {
                    right: 0;
                    left: auto;
                    bottom: auto;
                }
            }
        }

        &--image-right {
            .row {
                flex-direction: row-reverse;
            }

            .triangle {
                bottom: 0;

                @include media-breakpoint-up(lg) {
                    left: 0;
                    right: auto;
                    bottom: auto;
                }
            }
        }
    }

    &.palette {
        &--plain {
            &.orientation--image {
                &-left .triangle {
                    @include css-triangle(top, $white, 25px, 50px);

                    @include media-breakpoint-up(lg) {
                        @include css-triangle(left, $white, 50px, 25px);
                    }
                }

                &-right .triangle {
                    @include css-triangle(top, $white, 25px, 50px);

                    @include media-breakpoint-up(lg) {
                        @include css-triangle(right, $white, 50px, 25px);
                    }
                }
            }
        }
        &--emphasis {
            .text {
                background-color: $grey-light;

                h2 {
                    color: $brand-primary;
                }

                h2:after {
                    background-color: $white;
                }
            }

            &.orientation--image {
                &-left .triangle {
                    @include css-triangle(top, $grey-light, 25px, 50px);

                    @include media-breakpoint-up(lg) {
                        @include css-triangle(left, $grey-light, 50px, 25px);
                    }
                }

                &-right .triangle {
                    @include css-triangle(top, $grey-light, 25px, 50px);

                    @include media-breakpoint-up(lg) {
                        @include css-triangle(right, $grey-light, 50px, 25px);
                    }
                }
            }
        }
        &--highlight {
            .text {
                @include gradient($brand-primary, $brand-primary-light, horizontal);

                h2,
                p {
                    color: $white;
                }

                h2:after {
                    background-color: $white;
                }
            }

            &.orientation--image {
                &-left .triangle {
                    @include css-triangle(top, $brand-primary, 25px, 50px);

                    @include media-breakpoint-up(lg) {
                        @include css-triangle(left, $brand-primary, 50px, 25px);
                    }
                }

                &-right .triangle {
                    @include css-triangle(top, $brand-primary, 25px, 50px);

                    @include media-breakpoint-up(lg) {
                        @include css-triangle(right, $brand-primary-light, 50px, 25px);
                    }
                }
            }
        }
    }
}
